# This is a configuration file for AVSim game.
# This is a comment and will be ignored by the parser
# Everything in here was generated automatically and can be changed from the ingame interface.

# AudioSettings

music_audio=0,1760516
effect_audio=0,2598933
